[Desktop Entry]
StartupNotify=true
Comment[da]=Justeringsværktøj for farvetemperatur
GenericName[es]=Ajuste de la temperatura de color
Hidden=true
Comment[ru]=Инструмент регулирования цветовой температуры
Name[es]=Redshift
Name[pt_BR]=Redshift
Name[de]=Redshift
Comment[cs]=Nástroj pro přizpůsobení barevné teploty
GenericName[da]=Justering af farvetemperatur
Name[hu]=Redshift
GenericName[fr]=Réglage de la température de couleur
GenericName[de]=Farbtemperatur Anpassung
Comment[zh_CN]=色温调节工具
Terminal=false
Name[lt]=Redshift
Comment[de]=Farbtemperatur Anpassungswerkzeug
GenericName=Color temperature adjustment
Comment[es]=Herramienta para el ajuste de la temperatura de color
Comment[hu]=Színhőmérséklet beállító eszköz
Name[zh_CN]=红移
GenericName[zh_CN]=色温调节
X-GNOME-Autostart-enabled=false
Comment[tr]=Renk sıcaklığı ayarlama aracı
GenericName[cs]=Přizpůsobení barevné teploty
GenericName[it]=Regolazione della temperatura del colore
GenericName[ru]=Настройка цветовой температуры
Name[fr]=Redshift
GenericName[hu]=Szín hőmérséklet beállítás
Type=Application
Version=1.0
GenericName[tr]=Renk sıcaklığı ayarı
Exec=redshift-gtk
Name[tr]=Redshift
GenericName[lt]=Spalvos temperatūros reguliavimas
Icon=redshift
GenericName[pl]=Dostosowanie temperatury barwowej
Categories=Utility;
Name[ru]=Redshift
Comment[it]=Strumento per la regolazione della temperatura del colore
Comment[fr]=Outil de réglage de la température de couleur
Comment[pl]=Narzędzie do dostosowywania temperatury barwowej
Comment[nl]=Kleurtemperatuur aanpassingsprogramma
Comment=Color temperature adjustment tool
Name[pl]=Redshift
Name=Redshift
Name[it]=Redshift
GenericName[nl]=Kleurtemperatuur aanpassing
Comment[lt]=Spalvos temperatūros reguliavimo įrankis

