[Desktop Entry]
Type=Application
Name=Postman
Exec=/home/bkessels/.postman/Postman
Icon=/home/bkessels/.postman/resources/app/assets/icon.png
Terminal=false
